.venues {
  width: 900px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #039651;
}
.senwb{
    padding: 25px 5%;
}
@media screen and (max-width: 500px){
  .venues {
    width: 85%;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #039651;
  }
}